* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --husband: hsl(187, 61%, 35%);
  --wife: hsl(350, 100%, 88%);
  --darker: hsl(180, 50%, 82%);
  --lighter: hsl(177, 51%, 93%);
  --pinkBtn: hsl(350, 100%, 95%);
}
html {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
}
body {
  background-color: #999;
}

.none {
  display: none;
}

.dateTop {
  display: flex;
  justify-content: space-between;
}

.dateTop> :nth-child(1){
    background-color: var(--darker);
    border-radius: 9px;
}
.onlyDate{
    display: flex;
}


.dateTop p {
  margin: 1rem 0.5rem;
  font-size: 2.5rem;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  padding: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.shoppingBtn,
.workingBtn {
  background-color: var(--lighter);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
}

.shoppingBtn:hover,
.workingBtn:hover {
  background-color: var(--darker);
}

.shoppingBtn:active,
.workingBtn:active {
  transform: scale(0.8);
}

i {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

fieldset {
  position: relative;
  background-color: var(--lighter);
  padding: 1rem;
  margin: 3rem 0;
  border-radius: 10px;
  max-width: 600px;
  border: none;
}

fieldset:hover {
  cursor: pointer;
}

fieldset :nth-child(5) {
  margin-top: 2rem;
}

legend {
  font-size: 2rem;
  color: #272343;
  background-color: var(--darker);
  border-radius: 9px;
  padding: 0.2rem 0.5rem;
}

.scale,
.note {
  font-size: 2rem;
}

.wife,
.husband {
  font-size: 1.6rem;
}

/* add new day */

.addDayBtn,
.saveNewDayBtn {
  background-color: var(--pinkBtn);
  border-radius: 5px;
  border: none;
  margin-top: 3rem;
  font-size: 2rem;
}


.saveNewDayBtn{
    border: 1px solid grey;
    margin: 1rem;
}

.addDayBtn:active {
  transform: scale(0.95);
}

.addDayBtn:hover,
.saveNewDayBtn:hover {
  background-color: var(--wife)
}

.userInterface {
  background: linear-gradient(var(--darker), var(--lighter));
  border-radius: 5px;
  margin: 3rem 0;
}

.date {
  margin: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.wifeWorkingTime,
.husbandWorkingTime {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.wifeWorkingTime {
  background-color: var(--wife);
}
.husbandWorkingTime {
  background-color: var(--husband);
}

select,
input {
  font-size: 2rem;
  font-family: 'PT Sans', sans-serif;
}

.textarea {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

textarea {
  padding: 0.5rem;
  font-size: 1.8rem;
  word-break: break-all;
}

.saveNewDay {
  display: flex;
  justify-content: center;
}

.cancelEditDayBtn, .cancelDayBtn {
  position: relative;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  background-color: #fff;
  float: right;
}



#background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1;
}

.wife {
  background-color: var(--wife);
}
.husband {
  background-color: var(--husband);
  color: white;
}

#editing {
  border-radius: 10px;
  background: linear-gradient(#e3f6f5, #bae8e8);
}

#shoppingList > li {
  list-style: none;
  font-size: 3rem;
  border-radius: 5px;
  margin: 1rem 0;
}
#shoppingList :nth-child(odd) {
    background-color: var(--lighter);
}
#shoppingList :nth-child(even) {
    background-color: var(--darker);
}

.inputShopping{
    margin: 2rem 0;
}
.inputProduct{
    border-radius: 5px;
    border: none;
    font-size: 2.5rem;
    padding: 0.5rem;
}

.addToShoppingListBtn{
    background-color: var(--pinkBtn);
    border: none;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: 2rem;
    position: relative;
    top: -2px;
    cursor: pointer;
}
.addToShoppingListBtn:hover{
    background-color: var(--wife);
}

.shoppingDelBtn {
    color: #fff;
  background-color: var(--husband) !important;
  padding: 1rem;
  margin:0 1rem 0 0.5rem ;
  position: relative;
  top: -4px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.deleteBtn,
.saveEditDayBtn {
  background-color: #fff;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 383px) {
    .inputProduct{
        width: 210px;
    }
}
